.flashcard{
    display: flex;
    align-items: center;
    max-width:15rem;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}

.flashicon {
    max-width: 2rem;
}