/* hero styling */
#hero {
	display: flex;
	padding-top: 6rem;
	align-items: center;
	justify-content: center;
	margin: 0rem 8rem 0 8rem;
	height: 70vh;
}

.heroimgcontain{
	position: relative;
}

.heroimg {
    height: 40vh;
	max-width: 40rem;
    
}

.backdrop{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	height: 60vh;
}

.herotext {
	font-family: var(--raleway);
	font-size: var(--size-32);
	font-weight: var(--bold);
}

.leftcontain {
	display: flex;
    margin: auto;
	flex-direction: column;
    justify-content: center;
    max-width: 40rem;
	gap: 2rem;
}

.heroCta {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 50em) {
	#hero {
		height: 80vh;
	}

	.herotext {
		font-size: var(--size-32);
	}
}
/* hero media */
