/* navbar styling */

.header {
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	width: 100vw;
	background-color: white;
	position: fixed;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.logo {
	max-width: 4rem;
}

.pagelist {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.pagelist li{
	font-size: 12px;
}

.dropdownbtn{
	display: none;
}

/* navbar media */
@media (max-width: 50em) {
	.header{
		align-items: flex-start;
	}
	.pagelist{
		display: flex;
		flex-direction: column;
	}
	.pagelist li{
		padding: 1rem;
	}
	.dropInactive{
		display: none;
	}
	.dropdownbtn{
		display: block;
	}
}
