/* navbar styling */
.active {
	font-weight: var(--bold);
}

.header {
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid black;
	width: 100vw;
	background-color: white;
	position: fixed;
}

.pageList {
	display: flex;
	flex-direction: row;
}

.pageList li {
	font-family: var(--inter);
	margin: 0 1rem;
}

.pageList li > a {
	font-size: var(--size-14);
}
/* navbar media */
@media (max-width: 50em) {
}
