.partners.container {
	align-items: flex-start;
	gap: 1rem;
}
.partnerimgcontain {
	display: grid;
    width: 100%;
	grid-template-columns: repeat(6, 1fr);
    gap: 5rem;
    align-items:center;
}

@media (max-width: 50em) {
	.partnerimgcontain {
		grid-template-columns: repeat(3, 1fr);
	}
}
